.right{
    height: 200px;
    width: 100px;
    background: silver;
    border: 2px solid black;
}
.C, .D, .E{
    height: 100px;
    width: 98px;
    background: silver;
    border: 2px solid black;
}
#left-bottom{
    display: flex;
}
#bottom{
    display: flex;
}
.top{
    width: 450px;
    height: 150px;
    background: silver;
    border: 2px solid black;
}
.left-top{
    width: 302px;
    height: 150px;
    background: silver;
    border: 2px solid black;
}
.f{
    width: 150px;
    height: 255px;
    background: silver;
    border: 2px solid black;


}
