#hader{
    width: 500px;
    height: 100px;
    background: orange;
}

#menu{
    background: #892727;
    width: 200px;
    height: 332px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post{
    width: 200px;
    height: 150px;
    background: #424242;
    flex-grow: 1;
    margin-bottom: 10px;
    margin-top: 10px;

}
#footer{
    width: 500px;
    height: 100px;
    background: #18a3c5;
}
.container-2 {
   display: flex;





}
