.container-1{
    width : 909px;
    height: 200px;
    background-color: silver;
    border: 2px solid black;


}
.container-2{
    display: flex;

}
.container-3{
    display: flex;
    flex-wrap: wrap;}

.b, .c, .d, .e, .f, .g{
    background-color: silver;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 border: 2px solid black;
}
.h{
    width: 520px;
    height: 485px;
    background-color: silver;
    border: 2px solid black;
}
