#top{
    width: 450px;
    height: 150px;
     background: silver;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mid{
   display: flex;
}
.B, .C, .D{
    width: 90px;
    height: 100px;
    background: silver;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom{
    display: flex;
}
.E, .F, .G{
    width: 90px;
    height: 100px;
    background: silver;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.H{
    width: 140px;
    height: 257px;
    background: silver;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


}

