
.border {
    width: 1500px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid red;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.container-1 {
    width: 100%;
    height: 200px;
    background-color: silver;
    /*border: 2px solid black;*/


}

.container-2 {
    width: 60%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3px;
    row-gap: 3px;
    /*background: green;*/
}


.b, .c, .d, .e, .f, .g {
    background-color: #ef5454;
    width: 33%;
    /*margin: 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*!*border: 1px solid black;*!*/
    color: white;
    font-size: 40px;
}

.container-3 {
    width: 40%;
    height: 400px;
    background-color: #483434;
    /*border: 0px solid black;*/
}
